<%- include('../partials/navbar', { data: 'Review' }) %> 
<div class="px-3 py-3 mx-3 my-3">
    <h1>Restaurant Name</h1>
</div>
<div>
    <table class="table w-75 mx-auto table-bordered table-hover">
        <thead class="thead-dark text-center">
            <th>No</th>
            <th>User Review</th>
            <th>Rating</th>
            <th>Reviewer</th>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">1</td>
                <td>Lorem ipsum dolor sil amet Lorem ipsum dolor sil amet Lorem ipsum dolor sil amet Lorem ipsum dolor sil amet</td>
                <td class="text-center">5</td>
                <td class="text-center">Andrew</td>
            </tr>
        </tbody>
    </table>
</div>
<%- include('../partials/footer') %> 