<%- include('../partials/navbar', { data: 'Restaurant List'}) %> 
<div class="my-3">
    <table class="table w-75 mx-auto table-bordered table-hover">
        <thead class="thead-dark text-center">
            <th>No</th>
            <th>Restaurant Name</th>
            <th>Address</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">1</td>
                <td class="text-center">Bebek Tepi Sawah</td>
                <td>Jl. Jalur Sutera No.Kav. 28A, Pakualam, Kec. Serpong Utara, Kota Tangerang Selatan, Banten 15325</td>
                <td class="text-center">
                    <input class="btn btn-success" type="button" value="Add Review">
                    <input class="btn btn-info" type="button" value="View Reviews">
                </td>
            </tr>
        </tbody>
    </table>
</div>
<%- include('../partials/footer') %> 